// $primary: #607d8b;
// $secondary: #009688;

$primary: #444c1c;
$secondary: #86895d;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// categories
$red_zone: #f44336;
$traffic_incident: #ff9100;
$protest: #cddc39;
$military: #454b1b;
$weather: #cddc39;
$misc: #8ab4f8;
